
.navbar {
    background-color: white;
    border-bottom: 2px solid #cccccc;
}

.navbar-text {
    background-color: white;
    padding: 1%;
    margin: 1%;
    color: rgb(81, 81, 148);
    font-size: 24px;
    text-align: center;
}

.navbar-right{
    color: seagreen !important;
    font-size: 16px;
    margin-top: 1%;
    padding-right: 2%;
}

.aboutme1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc; 
    margin: 1%;
}

.connect1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5; 
    text-align: center;
    
}

.img-links1, .img-links2, .img-links3 {
    text-align: center;
    padding: 0px;
}

.container {
    background-image: url("./images/clouds.jpg")
}

/*
.row {
    background-color: white;
}
*/

.footer1 {
    background-color: rgb(204,228,232);
    text-align: center;
    color: black;
    border-top: 2px solid #babbbd;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    /*
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    */
}

.footerpad1 {
    padding-left: 0%;
    padding-right: 0%;
}

.img-container {
    border: 1px solid #cccccc;
    background-color: white;
}

.contact-form {
    border: 1px solid #cccccc;
    height: 50%;
    color: #777777;
}


#fname, #eml {
    margin-left: 1%;
    width: 95%;
}

#msg {
    margin-left: 1%;
    width: 95%;
    height: 60%;
    
}

input[type=submit] {
    margin-left: 1%;
    margin-top: 1%;
    color: white;
    background-color: #4aaaa5;
    padding: 1%;
}

/*.bground1 {
    width: 266px;
    height: 266px;
    background-image: url("./images/ipadicon.png");
}
*/

.col-md-4 img {
    opacity: 0.8;
}

.divimg {
    position: absolute;
    width: auto;
    color: white;
    text-align: center;
    background: #4aaaa5;
    bottom: 4%;
    padding: 3% 15% 3% 15%;
    margin-left: 5%;
}

.divimg2 {
    position: absolute;
    width: auto;
    color: white;
    text-align: center;
    background: #4aaaa5;
    bottom: 15%;
    padding: 3%;
    margin-left: 2%;
}

.profpicture img {
    opacity: 100;
}


.emailaddress {
    font-weight: bold;
    text-align: center;
} 


/*
submit {
    margin-left: 1%;
}


.contact-form {
    width: 600px;
    height: 350px;
    float: left;
    color: #777777;
    border: 1px solid #cccccc;
    margin-top: 5px;
    background-color: white;
    padding: 12px;
}

input[type=submit] {
    background-color: #4aaaa5;
    padding: 12px;
    color: white;
    font-weight: bold;
}

#msg {
    height: 200px;
}
*/ 



/* comments

body {
    background-color: red;
}



.about1 {
    border-right: 1px solid #cccccc;
}

*/